numpy
matplotlib
imagecodecs
openslide-python
openslide-bin
dask
#"dask[distributed]"
funlib.geometry @ git+https://github.com/funkelab/funlib.geometry.git
funlib.persistence @ git+https://github.com/funkelab/funlib.persistence.git
funlib.show.neuroglancer @ git+https://github.com/funkelab/funlib.show.neuroglancer.git
daisy
tifffile
scikit-image
scikit-learn
scipy
tqdm
opencv-python
pandas
imgaug
